<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::.main-section-aboutsection})">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" >
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>Hacked</title>
   </head>
   <body>
   
    <div class="main-section-aboutsection">
    
     <section class="aboutus-main-section1">
<!-- background-section about -->
   <div class="about-top-background">
   <div class="layer-about"></div>
   <div class="about-heading-content1">
   <h2 class="mb-4 text-center">About Us</h2>
   <p class="text-center" style="font-size:19px;word-spacing:2">We Always deliver more than expected</p>
   </div>
   </div>
<!-- end of background-section about -->

<!-- commitment sections started -->
<div class="about-commits">
<div class="about-heading-content2">
   <h1 class="mb-2 text-center about_commits_heading1" >Our Commitment to our clients is first priority.</h1>
   <p class="text-center" style="font-size:19px;word-spacing:2">Here is our Client Code outlining what you can expect when you work with us.</p>
</div>
<div class="about-commit-points">
<div class="about-commit-left">
<ul>
<li class="about-list"><span><img src="../images/website-design/right-sign-removebg-preview.png" style="width:30px;height:30px"></span><p style="margin-left:5px"> We listen and we care. The KSITSOLUTION team will give you the best advice and guidance on how to achieve your business goals and the tools that can make it happen.</p></li>
<li class="about-list"><span><img src="../images/website-design/right-sign-removebg-preview.png" style="width:30px;height:30px"></span><p style="margin-left:5px">We believe in fair and transparent pricing that is value for money. We will only sell you what you need, and you will always know what you are paying for – no hidden costs.</p></li>
<li class="about-list"><span><img src="../images/website-design/right-sign-removebg-preview.png" style="width:30px;height:30px"></span><p style="margin-left:5px">There are no silly questions. We get that not everyone is tech-savvy so you can ask us anything, anytime when it comes to your online marketing. Knowledge is power!</p></li>
<li class="about-list"><span><img src="../images/website-design/right-sign-removebg-preview.png" style="width:30px;height:30px"></span><p style="margin-left:5px">Honesty is the best policy. If we don’t know the answer to your question we’ll aim to research a solution for you, and when we make a mistake we’ll admit and do our best to fix it.</p></li>
<li class="about-list"><span><img src="../images/website-design/right-sign-removebg-preview.png" style="width:30px;height:30px"></span><p style="margin-left:5px">We keep you up to date every step of the way for the life of your project and beyond, so you are across what is going on and don’t feel lost or confused.</p></li>
</ul>
</div>
<div class="about-commit-right">
<img src="../images/about-section/handshaake.jpg" class="about_commit_right-image">
</div>
</div>
</div>
<!-- End of commitment section -->
<!-- about second background  -->
<div class="about-sec-background">
<div class="layer-about2"></div>
<h2 class="heading-sect1" id="autotype1">Best website design and development company</h2>
</div>
<!-- end of second background -->
<!-- last section  -->
<div class="about-bottom-sec">
<div class="about-botm-mainheading">
<div class="about-botm-heading">
<h1 class="about-btm-heading1">What you get with our websites</h1>
<p>How we help you grow your business, increase sales and free up your time!
</p>
</div>
</div>
<div class="about-btm-LR">
<div class="about-btm-left">
<li class="about-bt-list"><span><img src="../images/website-design/right-sign-removebg-preview.png" style="width:25px;height:20px"></span><p style="margin-left:5px"> Customized website to your budget.</p></li>
<li class="about-bt-list"><span><img src="../images/website-design/right-sign-removebg-preview.png" style="width:25px;height:20px"></span><p style="margin-left:5px"> Unique web presence for your business and goals.</p></li>
<li class="about-bt-list"><span><img src="../images/website-design/right-sign-removebg-preview.png" style="width:25px;height:20px"></span><p style="margin-left:5px"> Content management system for 24/7 self-updates</p></li>
<li class="about-bt-list"><span><img src="../images/website-design/right-sign-removebg-preview.png" style="width:25px;height:20px"></span><p style="margin-left:5px"> Built-in SEO tools to make your site Google-friendly</p></li>
<li class="about-bt-list"><span><img src="../images/website-design/right-sign-removebg-preview.png" style="width:25px;height:20px"></span><p style="margin-left:5px"> Free SSL certificate for website data security</p></li>
</div>
<div class="about-btm-right">
<li class="about-bt-list"><span><img src="../images/website-design/right-sign-removebg-preview.png" style="width:25px;height:20px"></span><p style="margin-left:5px"> We market your business and generate leads</p></li>
<li class="about-bt-list"><span><img src="../images/website-design/right-sign-removebg-preview.png" style="width:25px;height:20px"></span><p style="margin-left:5px"> We care about your long-term success</p></li>
<li class="about-bt-list"><span><img src="../images/website-design/right-sign-removebg-preview.png" style="width:25px;height:20px"></span><p style="margin-left:5px"> Access to training manuals to get the most out of your site</p></li>
<li class="about-bt-list"><span><img src="../images/website-design/right-sign-removebg-preview.png" style="width:25px;height:20px"></span><p style="margin-left:5px"> Social media integration</p></li>
<li class="about-bt-list"><span><img src="../images/website-design/right-sign-removebg-preview.png" style="width:25px;height:20px"></span><p style="margin-left:5px"> eCommerce compatible for your online store</p></li>
</div>
</div>
</div>
<!--end of bottom section  -->
<div class="about-thr-background">
<p class=Para-back1>​We are so confident in our web design service that we are glad to offer a 100% money back guarantee within 30 days if you are not satisfied with your website.</p>
</div>
</section>


 <script type="text/javascript">
    $(".nav-item").removeClass("active");
    $("#about-link").addClass("active");
     </script>
     
</div>
</body>
</html>