<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::.main-section-E-commerce})">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" >
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>Eager to know how SEO works call me for the free advice 8435999567</title>
   </head>
   <body>
   <div class="main-section-E-commerce">
       <div class="E-commerce_content">
       <div class="e-commerce_heading1">E-Commerce Website</div>
       <div class="ecom-image-and-cont">
       <div class="ecom-image1"><img class="img-ecom" src="../images/website-design/ecom-image.jpg" alt="Image"></div>
       <div class="e-commerce-para1"><p>Whether you are building a new business online or trying to optimize and improve your existing e-commerce website We will make sure to develop a website that brings your those delayed conversions now on time.</p>
       <p>Our large E-commerce website design and development team caters to different business sizes
       : from the smallest companies to the largest-scale entities. All the websites we create, 
       provide high conversion rates and help our clients significantly increase the number of customers in the shortest amounts of time.</p>
       <p>Developers can produce fast priming websites with the most excellent illustrations and sections, making it more manageable for them to bring out their online shopping. </p>
       <p>They can also advise the best ECommerce website development structures and policies that can be taken into use to generate an excellent website that involves smooth functioning and better processing throughout.</p>
       <a href="/contact" class="btn btn-danger btn-sm" style="background-color:rgb( 231, -77, 10);">Contact Us</a>
       </div>
       </div>
       </div>
       </div>
   </div>
   </body>
   </html>
