<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::.main-section-graphics})">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" >
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>Hacked</title>
   </head>
   <body>
    <div class="main-section-graphics">
    

     <div class="main-app-heading">
     <div class="main-app-smhead">
     <h2 >GRAPHIC DESINGING</h2>
     </div>
     </div>
  <!-- content body graphic desgining  -->
  <div class="graphics-intro">
  <div class="gr-content-adva">
  <p>We also design logo ,posters, business post, banners etc. we have 5 years of experience in graphic designing our expert team of designers can make your dream design ready on time within your budget.<br>We are one of the best graphic designer of raipur,chattisgarh our motive is very simple to satisfy our clients with our designs. you can rely on us make a call now and get free sample design .</p> 
  <div class="gr-sm-content-adva mt-5">
  <h3 class=" text-decoration-underline">Brochures</h3>
  <p class=" text-success " style="font-size:18px">We design Brochures, Catalogues and Leaflets</p>
  <p>The main purpose of a bochure/catalogue/leaflet is to provide information to the viewer, and must include your company's name, logo, pictures and description of the products or services you offer. It should also provide your contact information such as the address, website, e-mail id and business contact number of your company.
  </p>
  <h3 class=" text-decoration-underline mt-5">Business</h3>
  <p class=" text-success " style="font-size:18px">We design logos, visiting cards, letter heads, vouchers, bill-book, receipts, envelope, etc.</p>
  <p>A professionally designed Logo, Visiting card, Letter heads, etc will capture the attention of your customers and help them better identify you. Design services from KSITSOLUTION can help you promote your business image with quality design</p>
  <h3 class=" mt-5 text-decoration-underline">Advertisement</h3>
  <p class=" text-success " style="font-size:18px">We design and print Banners, Posters, Hoardings, Glowsign Boards, etc.</p>
  <p>It is our mission to make you look good - in your office, on the go or at home. For years, we have been printing posters for experienced professionals, including photographers and graphic designers, as well as small business owners preparing for their first trade show, and individuals interested in sprucing up their home décor</p>
  </div>
  <!-- few portfolio works -->
  
  <div class="gr-sm-work">
  <h3 class="text-center">Our Works</h3>
  <p class=" text-success text-center" style="font-size:18px">See some of our few recent works below </p>
  <div class="gr-sm-flex-box-c1">
  <div class="gr-sm-flex-box-r1"><img src="../images/graphic-image/design7.jpeg" style="width:250px;height:250px"></div>
  <div class="gr-sm-flex-box-r2"><img src="../images/graphic-image/logo2 (2).png" style="width:250px;height:250px"></div>
  <div class="gr-sm-flex-box-r3"><img src="../images/graphic-image/design4.jpeg" style="width:250px;height:250px"></div>
  </div>
  <div class="gr-sm-flex-box-c2">
  <div class="gr-sm-flex-box-r1"><img src="../images/graphic-image/design1.jpeg" style="width:250px;height:250px"></div>
  <div class="gr-sm-flex-box-r2"><img src="../images/graphic-image/logo1 (2).png" style="width:250px;height:250px"></div>
  <div class="gr-sm-flex-box-r3"><img src="../images/graphic-image/design3.jpeg" style="width:250px;height:250px"></div>
  </div>
    <div class="gr-sm-flex-box-c3">
  <div class="gr-sm-flex-box-r1"><img src="../images/graphic-image/design9.jpg" style="width:250px;height:250px"></div>
  <div class="gr-sm-flex-box-r2"><img src="../images/graphic-image/logo3 (2).png" style="width:250px;height:250px"></div>
  <div class="gr-sm-flex-box-r3"><img src="../images/graphic-image/design5.jpeg" style="width:250px;height:250px"></div>
  </div>
  <div class="gr-sm-flex-box-c3">
  <div class="gr-sm-flex-box-r1"><img src="../images/graphic-image/design1.jpeg" style="width:250px;height:250px"></div>
  <div class="gr-sm-flex-box-r2"><img src="../images/graphic-image/logo4 (2).png" style="width:250px;height:250px"></div>
  <div class="gr-sm-flex-box-r3"><img src="../images/graphic-image/design6.jpeg" style="width:250px;height:250px"></div>
  </div>
  <div class="gr-sm-flex-box-c3">
  <div class="gr-sm-flex-box-r1"><img src="../images/graphic-image/design88.jpg" style="width:250px;height:250px"></div>
  <div class="gr-sm-flex-box-r2"><img src="../images/graphic-image/logo5 (2).png" style="width:250px;height:250px"></div>
  <div class="gr-sm-flex-box-r3"><img src="../images/graphic-image/design10.jpeg" style="width:250px;height:250px"></div>
  </div>
  </div>
  </div>
  <!-- closed portfolio works -->
  </div>
   <script type="text/javascript">
    $(".nav-item").removeClass("active");
    $("#service-link").addClass("active");
     </script>
  </div>
  <!-- content body -->
</div>
</body>
</html>