<html lang="en" >
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="description" content="Best Website Designing Company in Raipur, Web & Software Development & Designing company in Raipur Chhattisgarh India, we provide best online service in web hosting, domain hosting, website for school, college, shops, company, government, private stores. We have expert team for search engine optimization SEO.">
    <meta name="keywords" content="Website Company in Raipur,Website Design in Raipur , Website Designing Company in Raipur, Website Designing Company in Chhattisgarh ,Web designing company in raipur, web designing company in chhattisgarh, web design in chhattisgarh, website designing in chhattisgarh, IT company in raipur, IT company in chhattisgarh, web development raipur, software development in raipur, software development in chhattisgarh, IT solution company in raipur, website seo in raipur,seo in raipur,seo in chhattisgarh, website design in raipur, Web Development Raipur, website designing in raipur, Responsive website in raipur, web designing raipur, web development in India, web services in raipur, Website Design in Raipur, Graphic Designing Company in Chhattisgarh, Graphic Designing Company in Raipur ">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/css/home.css">
    
    <!--Data Aos -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- End  -->
   
     <!-- JQuery cdn -->
     
     <!--  -->

    <!-- FontAwesome cdn -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" >
    <title th:text="${title}">Hello, world!</title>
    <link rel="shortcut icon" href="../images/globe-image-removebg-preview.png" type="image/x-icon" style="padding:0px;mergin:0px;width:100px;">
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="css/homeResponsive.css"/>
    <link rel="stylesheet" th:href="@{/css/contact.css}"/>
    <link rel="stylesheet" th:href="@{/css/about.css}"/>
    <link rel="stylesheet" th:href="@{/css/mobileapp.css}"/>
    <link rel="stylesheet" th:href="@{/css/basecustom.css}"/>  
    <link rel="stylesheet" th:href="@{/css/graphic.css}"/>
    <link rel="stylesheet" th:href="@{/css/websitedesign.css}"/>
    <link rel="stylesheet" th:href="@{/css/software.css}"/>
    <script type="text/javascript" src="/javascript/home.js"></script>
    
    <!-- slide coursel bootstrap -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <!-- expertise coursel started  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.js"></script>
  <!-- end of expertise -->
   
   
   
    <title>Hello, world!</title>
   </head>
   <body>
   <div class="right_navbar_cont">
       <a href="https://wa.me/8435999567"><i class="fa fa-comments fa-2x" style="color:white" aria-hidden="true"></i></a>
   </div>
     <!-- first navbar for mobile number and location of the business --> 
  <!-- sticky-top navbar-light bg-dark -->
  <nav class="navbar1" id="navigation">
  <div class="nav-para-phone">
  <p class="para-graph" style="color:white"><span><i class="far fa-envelope"></i></span> harmeet@ks-itsolution.com</p>
   <a class="navbar-bran phoneno" href="#" style="color:white;margin-left:6px"><span><i class="fas fa-phone-alt"></i></span> +91 8435999567</a>
   </div>
   <div class="icons-tag" style="">
   <a href="https://www.facebook.com/ksitsolutions-113917544123909/" style="margin:0px;padding-right:5px;color:red"><span><i class="fab fa-facebook-f"></i></span></a>
   <a href="#" style="margin:0px;padding-right:5px;"><span><i class="fa fa-twitter" aria-hidden="true"></i></span></a>
   <a href="https://www.instagram.com/ks_itsolutions/" style="margin:0px;padding-right:5px;"><span><i class="fa fa-instagram" aria-hidden="true" ></i></span></a>
   </div>
</nav>

  <!-- closing of first navbar -->
  
    <div class="main-section"  onscroll="myfunction()">
    
    <div class="shadow">
    </div>
    <div class="carousel11">
    <!--Nav-bar started  -->
     <div id="particles-js"></div>
       <nav class="navbar1 navbar-expand-lg navbar-light second-nav" id="nava11">
    <div class="logo-image">
  <img class="img-fluid" style="width:90px;height:70px;left:144px;top:10px;" th:src="@{'/images/globe-image-removebg-preview.png'}"/>
  <p style="height:69px;border-bottom:1.5px solid red;text-decoration-style:wavy;position:absolute;font-size:55px;left:0px;font-weight:bold;color:red;z-index:-1;font-family:'Font Awesome 5 Brands';letter-spacing: 2px;">KS <span style="color:red;height:10px;font-size:25px;font-weight:bold;top:27px;left:74px;position:absolute">~</span>IT</p>
   <p style="top:65px;left:7px;color:red;font-size:29px;font-weight:bold;font-family:'Font Awesome 5 Brands';position:absolute;letter-spacing:8px;z-index:-1">SOLUTION </p> 
  </div>
  <!-- <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon "></span>
  </button> -->
  <button class="navbar_collapse_icon" onclick="opfunction()">
  <span><i class="fas fa-bars fa-lg"></i></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto" id="nava11">
      <li class="nav-item active">
        <a class="nav-link" id="navg1" href="/home">HOME<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link sub-nav" id="navg6" href="/services">SERVICES
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="navg2" href="#">EXPERTISE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="navg3" href="/about">ABOUT US</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" id="navg4" href="/contact">CONTACT US</a>
      </li>
      <li class="nav-item btn-nav">
        <a class="nav-link" id="navg5" href="/whychooseus">Why Choose us?</a>
      </li>
    </ul>
  </div>
    </nav>
    
  <!--end of navbar  -->
  <!-- second navbar mobile -->
 <div class="second_nav1" id="hide121">
    <button class="icon_close" onclick="clfunction()"><i class="fas fa-times fa-lg"></i></button>
    <ul class="sec_navbar-nav " style="margin-left:-30px">
      <li class="nav-item active">
        <a class="nav-link2" id="navg1" style="color:black" href="/home">HOME<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link2 sub-nav"  style="color:black" id="navg6" href="/services">SERVICES
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link2" style="color:black" id="navg2" href="#">EXPERTISE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link2" style="color:black" id="navg3" href="/about">ABOUT US</a>
      </li>
       <li class="nav-item">
        <a class="nav-link2" style="color:black" id="navg4" href="/contact">CONTACT US</a>
      </li>
      <li class="nav-item btn-nav">
        <a class="nav-link3" style="color:white" id="navg5" href="/whychooseus">Why Choose us?</a>
      </li>
    </ul>
  </div>
 
  <!--end of second navbar  -->
      <!-- onmouseout="callingRemove()" -->
  <!-- top-section heading and paragraph -->
  <div class="top_heading1">
  <div class="top-left-heading">
  <div class="fade-text-1">
  <span class="heading1221">Creativity<span class="spans">.</span></span>
  </div>
  <div class="fade-text-2">
  <span  class="heading1223">Collaboration<span class="spans">.</span></span>
  </div>
  <div class="fade-text-3">
  <span class="heading1224">Commitment<span class="spans">.</span></span>
   </div>
   </div>
   <div class="top-right-heading">
   <p>We are web designers, developers, project managers,graphic designers which providing web-based solutions using the latest trends and technologies.              	         </p>
   </div>
   </div>
  </div>
  <!--carousel close  -->
     <!-- our works -->  
    <section class="m-container">
    <div class="works-heading"><h4 class="workhead1">services</h4></div>
    <div class="works-col1">
    <a href="/services/Website-Designing-Company-Raipur" style="color:black;text-decoration:none">
   <div class="works-row1" data-aos="fade-up" data-aos-duration="500">
   <div class="works-image-heading">
   <div class="works-image">
   <img src="../images/webdesignimage.png" style="text-align:center;">
   </div>
   <h2 class="heading-works">Web Design Company</h2>
   </div>
   <p class="about_cont1">At KS-ITSolution, our number one specialty is award winning website designing services for
    local businesses in Raipur area and around the cities. KSITSOLUTION provides website design 
    and development services, including Shopify design, WordPress development, 
    PHP / MySQL development & much more. Our team of professional designers and 
   developers will ensure you receive a Website that exceeds your expectations.
   </p>
   </div>
   </a>
   <a href="/services/mobile-app-development" style="color:black;text-decoration:none">
   <div class="works-row2" data-aos="fade-up" data-aos-duration="600">
   <div class="works-image-heading">
   <div class="works-image">
   <img src="../images/mobileimage.png" style="text-align:center;">
   </div>
   <h2 class="heading-works">Mobile Application</h2>
   </div>
   <p class="about_cont1"> Have a great app concept but are 
   not sure how to get started? KS-ITsolution provides you an comprehensive turnkey Mobile app development services 
   to those who are looking to create the next app sensation. Our expert team of 
   iOS and Android developers will turn your dream app into a reality. We simplify an often 
   daunting and complicated process by effective planning & communication ensuring your end user has the best experience possible.
   </p>
   </div>
   </a>
   </div>
    
    <div class="works-col2">
   <a href="/services/software-development" style="color:black;text-decoration:none">
  <div class="works-row3" data-aos="fade-up" data-aos-duration="500">
   <div class="works-image-heading">
   <div class="works-image">
   <img src="../images/softwaredevelopment.png" style="text-align:center;">
   </div>
   <h2 class="heading-works">Software Development</h2>
   </div>
   <p class="about_cont1" >KS-ITsolution also offer expertise in software and web application development. Whether you need a cloud-based application or 
      custom software solution to run natively on Windows or Mac OS X
   , our team of expert developers can create a program that is tailored to your specific business needs.
   </p>
   </div>
   </a>
   <a href="/services/graphic-designing" style="color:black;text-decoration:none">
   <div class="works-row4" data-aos="fade-up" data-aos-duration="600">
   <div class="works-image-heading">
   <div class="works-image">
   <img src="../images/graphic1.png" style="text-align:center;width:90px;height:90px;color:white">
   </div>
   <h2 class="heading-works">Graphic Designing</h2>
   </div>
   <p class="about_cont1">We have over 2 years of experience as Creative visualization professional,
    and have been a part of graphic designing,branding,
   typography & Video Work project for many exceptional compaines during these 
   years.our team of best graphic designers can create a design for your company
   </p>
  
   </div>
   </a>
   </div>
   </section>
   <!--closing about  -->
   <div style="border-bottom:1px solid red;height:5px;"></div>
   <!--Our expertise starting -->
   
   <section class="expertise-main">
   
   <div class="works-heading"><h3 class="heading-expertise">Expertise</h3></div>
   <div class="expertise-para"><p style="text-align:center;width:740px;">We are innovators in creative web design in Raipur. We don’t play any guessing games, but seek the facts from a range of analytics to help you get the edge.</p></div>
   
   <div class="col1-expertise">
   
   <div class="row1-expert" data-aos="fade-up-right" >
   <div class="hide">
   <div style="background-color:red;width:32px;height:32px;border-radius:50%;position:absolute;left:35px;top:10px">
   <img src="../images/discovery11.png" style="width:23px;height:25px;top:5px;left:4px;position:absolute;">
   </div>
   <h3 style="top:70px;font-weight:bold;left:35px;position:absolute">DISCOVERY</h3>
   <div class="rw1-expert-para" ><p>A thorough discovery is at the core of every successful digital solution we craft. 
   Understanding who you are building for and why you are building it is more important than the 
   colors or technology you use. If you don't know these things first, the rest is pointless.</p></div>
   <a href="#" style="color:red;position:absolute;top:370px;left:35px;padding:10px;">Explore Services ></a>
   </div>
   <!-- content show -->
   
   <!--hidden-content  -->
   <div class="hidden-row1">
   <div class="layerblck"></div>
   <div class="hidden-content"> 
   <h3 style="top:50px;font-weight:bold;font-size:34px;left:35px;position:absolute;color:red;z-index:1">DISCOVERY</h3>
   <ul class="links-11">
   <li><a>User Research</a></li>
   <li><a>User Interviews</a></li>
   <li><a>Usability Testing</a></li>
   <li><a>Market & Competitive Analysis</a></li>
   <li><a>SandBox</a></li>
   </ul>
   <a href="#" style="color:white;position:absolute;top:330px;left:35px;padding:10px;border:1px solid white;z-index:1">Know more ></a>
   </div>
   </div>
   <!-- closing hidden content -->
   </div>
   <div class="row2-expert" data-aos="fade-up" data-aos-duration="400">
   <div class="hide">
   <img src="../images/chess-image1.jpg" style="width:32px;height:32px;position:absolute;left:35px;top:10px">
   <h3 style="top:70px;font-weight:bold;left:35px;position:absolute;"> STRATEGY AND PLANNING </h3>
   <div class="rw1-expert-para" style="margin-top:25px;"><p>
   Strategy and planning is everything. The needs of digital consumers are not the same today as 
   they were yesterday. We have the experience 
   and knowledge needed to create a smart strategy for your business to solve your digital problems.</p></div>
   <a href="#" style="color:red;position:absolute;top:370px;left:35px;padding:10px;">Explore Services ></a>
   </div>
   <!--hidden-content  -->
   <div class="hidden-row2">
   <div class="layerblck"></div>
   <div class="hidden-content"> 
   <h3 style="top:22px;font-weight:bold;font-size:31px;left:35px;position:absolute;color:red;z-index:1">STRATEGY AND PLANNING</h3>
   <ul class="links-11" style="left:0px;top:120px">
   <li><a>Online Positioning & Strategy</a></li>
   <li><a>Brand Development & Integration</a></li>
   <li><a>Media Planning</a></li>
   <li><a>Site Architecture Planning</a></li>
   <li><a >Analytics Analysis</a></li>
   </ul>
   <a href="#" style="color:white;position:absolute;top:330px;left:35px;padding:10px;border:1px solid white;z-index:1">Know more ></a>
   </div>
   </div>
   <!-- closing hidden content -->
   </div>
   
   
   <div class="row3-expert" data-aos="fade-up-left" data-aos-duration="800">
   <div class="hide">
   <div style="background-color:red;width:32px;height:32px;border-radius:50%;position:absolute;left:35px;top:10px">
   <img src="../images/websitefinal1.png" style="width:18px;height:20px;top:6px;left:7px;position:absolute;">
   </div>
   <h3 style="top:70px;font-weight:bold;left:35px;position:absolute;">WEBSITE <br>SOLUTIONS</h3>
   <div class="rw1-expert-para" style="margin-top:30px;">
   <p>Web design and development is our roots. Designing and developing 
   for numerous screen sizes and devices takes precision
   , which is why our hand-crafted, innovative online solutions are second to none.</p>
   </div>
   <a href="#" style="color:red;position:absolute;top:370px;left:35px;padding:10px;">Explore Services ></a>
   </div>
   <!--hidden-content  -->
   <div class="hidden-row3">
   <div class="layerblck"></div>
   <div class="hidden-content"> 
   <h3 style="top:20px;font-weight:bold;font-size:31px;left:35px;position:absolute;color:red;z-index:1">WEBSITE SOLUTIONS</h3>
   <ul class="links-11" style="top:110px;left:0px;">
   <li><a>Visual Design</a></li>
   <li><a>Development</a></li>
   <li><a>CMS Design & Implementation</a></li>
   <li><a>E-commerce</a></li>
   <li><a>Website Redesign services</a></li>
   <li> <a>Website Maintenance Services</a></li>
   </ul>
   <a href="#" style="color:white;position:absolute;top:350px;left:35px;padding:10px;border:1px solid white;z-index:1">Know more ></a>
   </div>
   </div>
   <!-- closing hidden content -->
   </div>
   
   
   </div>
   
   <div class="col2-expertise">
   <div class="row4-expert" data-aos="fade-down-right">
   <div class="hide">
   <div style="background-color:red;width:32px;height:32px;border-radius:50%;position:absolute;left:35px;top:10px">
   <img src="../images/mobilefinal.png" style="width:23px;height:22px;top:5px;left:5px;position:absolute;">
   </div>
   <h3 style="top:70px;font-weight:bold;left:35px;position:absolute;">MOBILE AND TABLET SOLUTION</h3>
   <div class="rw1-expert-para" style="margin-top:25px;">
   <p>We are experts at delivering an engaging experience on mobile devices of all shapes and sizes. We know which best 
   practices to follow and where we can push the envelope to deliver delight.
   </p>
   </div>
   <a href="#" style="color:red;position:absolute;top:370px;left:35px;padding:10px;">Explore Services ></a>
   </div>
   <!--hidden-content  -->
   <div class="hidden-row4">
   <div class="layerblck"></div>
   <div class="hidden-content"> 
   <h3 style="top:50px;font-weight:bold;font-size:31px;left:35px;position:absolute;color:red;z-index:1">MOBILE AND TABLET SOLUTION</h3>
   <ul class="links-11" style="top:150px;left:0px;">
   <li><a>Smart Phone Apps</a></li>
   <li><a>Responsive Websites</a></li>
   <li><a>Interactives Sales Presentations</a></li>
   </ul>
   <a href="#" style="color:white;position:absolute;top:290px;left:35px;padding:10px;border:1px solid white;z-index:1">Know more ></a>
   </div>
   </div>
   <!-- closing hidden content -->
   </div>
   <div class="row5-expert" data-aos="fade-up">
   <div class="hide">
   <div style="background-color:red;width:32px;height:32px;border-radius:50%;position:absolute;left:35px;top:13px">
   <img src="../images/setting-removebg-preview.png" style="width:32px;height:19px;top:6px;left:0px;;position:absolute;">
   </div>
   <h3 style="top:70px;font-weight:bold;left:35px;position:absolute;">ENTERPRISE CMS SOLUTION</h3>
   <div class="rw1-expert-para" style="margin-top:25px;">
   <p>If you are looking for the power and efficiencies found with enterprise content management solutions
   , we can help. Our enterprise solutions 
   enable you to leverage enterprise content management platforms for your business.</p>
   </div>
   <a href="#" style="color:red;position:absolute;top:370px;left:35px;padding:10px;">Explore Services ></a>
   </div>
   <!--hidden-content  -->
   <div class="hidden-row5">
   <div class="layerblck"></div>
   <div class="hidden-content"> 
   <h3 style="top:30px;font-weight:bold;font-size:31px;left:35px;position:absolute;color:red;z-index:1">ENTERPRISE CMS SOLUTION</h3>
   <ul class="links-11">
   <li><a>Kentico</a></li>
   <li><a>Umbraco</a></li>
   <li><a>SiteFinity</a></li>
   <li><a>SiteCore</a></li>
   <li><a>WordPress</a></li>
   </ul>
   <a href="#" style="color:white;position:absolute;top:325px;left:35px;padding:10px;border:1px solid white;z-index:1">Know more ></a>
   </div>
   </div>
   <!-- closing hidden content -->
   </div>
   <div class="row6-expert" data-aos="fade-down-left">
   <div class="hide">
   <div style="background-color:red;width:32px;height:32px;border-radius:50%;position:absolute;left:35px;top:13px">
   <img src="../images/graphic1111.png" style="width:23px;height:25px;top:5px;left:4px;position:absolute;">
   </div>
   <h3 style="top:70px;font-weight:bold;left:35px;position:absolute;">GRAPHIC DESIGNING</h3>
   <div class="rw1-expert-para" style="margin-top:25px;">
   <p>KS-ITSolution has an extensive in-house graphic design team. With their exceptional skills and talent, 
   KS-ITSolution can take an idea or concept and turn it into a 
   powerful and effective piece of visual communication. Our talented graphic designers in India 
   .</p>
   </div>
   <a href="#" style="color:red;position:absolute;top:370px;left:35px;padding:10px;">Explore Services ></a>
   </div>
   <!--hidden-content  -->
   <div class="hidden-row6">
   <div class="layerblck"></div>
   <div class="hidden-content"> 
   <h3 style="top:30px;font-weight:bold;font-size:31px;left:35px;position:absolute;color:red;z-index:1">GRAPHIC DESIGNING</h3>
   <ul class="links-11" style="top:120px;left:0px;">
   <li><a>LogoDesign</a></li>
   <li><a>Social media ads, banners and graphics</a></li>
   <li><a>Postcards and flyers</a></li>
   <li><a>Banner and retargeting ads</a></li>
   <li><a>Images for websites and blogs</a></li>
   </ul>
   <a href="#" style="color:white;position:absolute;top:350px;left:35px;padding:10px;border:1px solid white;z-index:1">Know more ></a>
   </div>
   </div>
   <!-- closing hidden content -->
   </div>
   
   </div>
   <!-- 2nd column closed -->
   
   
   <!-- Technologies -->
   <div class="works-heading1"><h3 class="heading-expertise">TECHNOLOGIES</h3></div>
   
   <!-- carousel -->
   
   <div class="bbb_viewed">
    <div class="container1">
        <div class="rowww">
            <div class="col">
                <div class="bbb_main_container">
                    <div class="bbb_viewed_title_container">
                    
                        <div class="bbb_viewed_nav_container">
                            <div class="bbb_viewed_nav bbb_viewed_prev"><i class="fas fa-chevron-left"></i></div>
                            <div class="bbb_viewed_nav bbb_viewed_next"><i class="fas fa-chevron-right"></i></div>
                        </div>
                    </div>
                    <div class="bbb_viewed_slider_container">
                        <div class="owl-carousel owl-theme bbb_viewed_slider">
                            <div class="owl-item">
                                 <div class="bbb_viewed_item discount d-flex flex-column align-items-center justify-content-center text-center" style="background-color:rgba(236, 236, 236,0.3)">
                                      <div class="bbb_viewed_image" style="height:220px;width:150px;"><img src="../images/expertise-image/java-logo.png" alt="" style="height:130px;width:90px"></div>
                                    <!-- <div class="bbb_viewed_content text-center">
                                         <div class="bbb_viewed_price">₹12225<span>₹13300</span></div>
                                        <div class="bbb_viewed_name"><a href="#">Alkatel Phone</a></div> 
                                    </div>
                                    <ul class="item_marks">
                                        <li class="item_mark item_discount">-25%</li>
                                        <li class="item_mark item_new">new</li>
                                    </ul> --> 
                                </div>  
                            </div>
                            <div class="owl-item">
                                <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center" style="background-color:rgba(236, 236, 236,0.3)">
                                      <div class="bbb_viewed_image" style="height:220px;width:150px;"><img src="../images/expertise-image/react-icon.png" alt="" style="height:130px;width:125px"></div>
                                   
                                   <!--  <div class="bbb_viewed_content text-center">
                                        <div class="bbb_viewed_price">₹30079</div>
                                        <div class="bbb_viewed_name"><a href="#">Samsung LED</a></div>
                                    </div>
                                    <ul class="item_marks">
                                        <li class="item_mark item_discount">-25%</li>
                                        <li class="item_mark item_new">new</li>
                                    </ul> -->
                                </div>
                            </div>
                            <div class="owl-item">
                                <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center" style="background-color:rgba(236, 236, 236,0.3)">
                                    <div class="bbb_viewed_image" style="height:220px;width:150px;"><img src="../images/expertise-image/spring-icon.png" alt="" style="height:150px;width:150px"></div>
                                    <!-- <div class="bbb_viewed_content text-center">
                                        <div class="bbb_viewed_price">₹22250</div>
                                        <div class="bbb_viewed_name"><a href="#">Samsung Mobile</a></div>
                                    </div>
                                    <ul class="item_marks">
                                        <li class="item_mark item_discount">-25%</li>
                                        <li class="item_mark item_new">new</li>
                                    </ul> -->
                                </div>
                            </div>
                            <div class="owl-item">
                                <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center" style="background-color:rgba(236, 236, 236,0.3)">
                                      <div class="bbb_viewed_image" style="height:220px;width:150px;"><img src="../images/expertise-image/php-icon1.png" alt="" style="height:170px;width:170px"></div>
                                    <!-- <div class="bbb_viewed_content text-center">
                                        <div class="bbb_viewed_price">₹1379</div>
                                        <div class="bbb_viewed_name"><a href="#">Huawei Power</a></div>
                                    </div>
                                    <ul class="item_marks">
                                        <li class="item_mark item_discount">-25%</li>
                                        <li class="item_mark item_new">new</li>
                                    </ul> -->
                                </div>
                            </div>
                            <div class="owl-item">
                                <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center" style="background-color:rgba(236, 236, 236,0.3)">
                                      <div class="bbb_viewed_image" style="height:220px;width:150px;"><img src="../images/expertise-image/android1-icon.png.png" alt="" style="height:160px;width:170px"></div>
                                    <!-- <div class="bbb_viewed_content text-center">
                                        <div class="bbb_viewed_price">₹225<span>₹300</span></div>
                                        <div class="bbb_viewed_name"><a href="#">Sony Power</a></div>
                                    </div>
                                    <ul class="item_marks">
                                        <li class="item_mark item_discount">-25%</li>
                                        <li class="item_mark item_new">new</li>
                                    </ul> -->
                                </div>
                            </div>
                            <div class="owl-item">
                                <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center" style="background-color:rgba(236, 236, 236,0.3)">
                                      <div class="bbb_viewed_image" style="height:220px;width:150px;"><img src="../images/expertise-image/ios-icon.png" alt="" style="height:130px;width:130px"></div>
                                    <!-- <div class="bbb_viewed_content text-center">
                                        <div class="bbb_viewed_price">₹225<span>₹300</span></div>
                                        <div class="bbb_viewed_name"><a href="#">Sony Power</a></div>
                                    </div>
                                    <ul class="item_marks">
                                        <li class="item_mark item_discount">-25%</li>
                                        <li class="item_mark item_new">new</li>
                                    </ul> -->
                                </div>
                            </div>
                            <div class="owl-item">
                                <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center" style="background-color:rgba(236, 236, 236,0.3)">
                                      <div class="bbb_viewed_image" style="height:220px;width:150px;"><img src="../images/expertise-image/wodpress-icon1.png" alt="" style="height:130px;width:130px"></div>
                                    <!-- <div class="bbb_viewed_content text-center">
                                        <div class="bbb_viewed_price">₹225<span>₹300</span></div>
                                        <div class="bbb_viewed_name"><a href="#">Sony Power</a></div>
                                    </div>
                                    <ul class="item_marks">
                                        <li class="item_mark item_discount">-25%</li>
                                        <li class="item_mark item_new">new</li>
                                    </ul> -->
                                </div>
                            </div>
                            <div class="owl-item">
                                <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center" style="background-color:rgba(236, 236, 236,0.3)">
                                      <div class="bbb_viewed_image" style="height:220px;width:150px;"><img src="../images/expertise-image/adobe-icon.png" alt="" style="height:135px;width:150px"></div>
                                    <!-- <div class="bbb_viewed_content text-center">
                                        <div class="bbb_viewed_price">₹13275</div>
                                        <div class="bbb_viewed_name"><a href="#">Speedlink Mobile</a></div>
                                    </div>
                                    <ul class="item_marks">
                                        <li class="item_mark item_discount">-25%</li>
                                        <li class="item_mark item_new">new</li>
                                    </ul> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
   
   <!--end of carousel  -->
   
   <!--closing of technologies  -->
      
   </section>
    <!--closing of our expertise  -->
    
    <!-- About us started -->
    
    <div class="aboutsec-maincontiner">
    <div class="works-heading2"><h3 class="heading-expertise">ABOUT US</h3></div>
    <div class="about-flexbox">
    <div class="aboutsec-left-container">
    <img class="myabout-image" src="../images/about-image/vector-image.png" alt="image-reposive" >
    </div>
    <div class="aboutsec-right-container" data-aos="fade-up">
    <h3 class="about_sec_content" >We are a responsive web design and development company and also provides best services of <span style="color:rgb( 231, -77, 10);"> SEO, Domain Registration, HDD & SSD Web Hosting, Graphics Designing </span>. All Our services are client oriented and one of the Top Web Design & development Company in Raipur Chattisgarh we deliver fast, cost effective and high quality design as per the client need.</h3>
    <div class="about_iconc_button">
    <a href="/about" class="about-button-1" style="margin-top:5px;color:black;text-decoration:none">Learn more</a>
    <div class="about_icons11">
    <a href="https://www.facebook.com/ksitsolutions-113917544123909/" style="margin:0px;padding-right:5px;color:red"><span><i class="fab fa-facebook" style="color:black"></i></span></a>
   <a href="#" style="margin:0px;padding-right:5px;"><span><i class="fa fa-twitter" style="color:black" aria-hidden="true"></i></span></a>
   <a href="https://www.instagram.com/ks_itsolutions/" style="margin:0px;padding-right:5px;"><span><i class="fa fa-instagram" style="color:black" aria-hidden="true" ></i></span></a>
    </div>
    </div>
    </div>
    </div>

    <div class="bottom-about">
    <div class="bttom-about-layer"></div>
    <div class="bottom-about-heading">
    <h3 style="text-align:center;width:700px;color:white;"> How are we different from other web development companies in Raipur? </h3> 
    </div>
    
    <div class="bottom-about-content">
    
    <div class="bottom-about-r1">
    <img src="../images/about-image/okdone.png" style="height:100px;width:120px;left:48px;position:relative">
    <h4 style="color: white; font-size: 16px; padding: 20px 0px 0px;margin-left:40px">Exceptional Quality</h4>
    </div>
    
    <div class="bottom-about-r2">
    <img src="../images/about-image/2nd.png" style="height:100px;width:120px; left:49px;position:relative">
    <h4 style="color: white; font-size: 16px; padding: 20px 0px 0px;margin-left:53px">Budget-Friendly</h4>
    </div>
    
    <div class="bottom-about-r3">
    <img src="../images/about-image/3rd.png" style="height:100px;width:120px; left:40px;position:relative">
    <h4 style="color: white; font-size: 16px; padding: 20px 0px 0px;margin-left:25px">Customize-development</h4>
    </div>
    
    <div class="bottom-about-r4">
    <img src="../images/about-image/4th.png" style="height:100px;width:120px; left:50px;position:relative">
    <h4 style="color: white; font-size: 16px;margin-left:45px;margin-top:20px">On-Time-Delivery</h4>
    </div>
    
    </div>
    <!-- bottom media size -->
    <div class="bottom-about-content1">
    
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
 
  <div class="carousel-inner">
    <div class="carousel-item active">
    
     <div class="bottom-about-r11">
    <img src="../images/about-image/okdone.png" >
    <h4 style="color:white;font-weight:bold;font-size:17px;margin-top:10px">Exceptional Quality</h4>
    </div>
    
    </div>
    <div class="carousel-item">
      <div class="bottom-about-r22">
    <img src="../images/about-image/2nd.png" >
    <h4 style="color:white;font-weight:bold;font-size:17px;margin-top:10px">Budget-Friendly</h4>
    </div>
      
    </div>
    <div class="carousel-item">
      
      <div class="bottom-about-r33">
    <img src="../images/about-image/3rd.png" >
    <h4 style="color:white;font-weight:bold;font-size:17px;margin-top:10px">Customize-development</h4>
    </div>
      
    </div>
    <div class="carousel-item">
      
      <div class="bottom-about-r44">
    <img src="../images/about-image/4th.png" >
    <h4 style="color:white;font-weight:bold;font-size:17px;margin-top:10px">On-Time-Delivery</h4>
    </div>
    
    </div>
  </div>
    
    </div>
    <!-- bottom media size closed -->
    </div>
    
    </div>
    
    <!--End of about us  -->    
    <!--start of contact page  -->
    
    <section class="contact-main">
    <div class="works-heading3"><h3 class="heading-expertise">CONTACT US</h3></div>
     <div class="contact-det-col">
     <div class="contact-det-r1">
     <a style="left:50px;top:10px;position:absolute"> <span class="flaticon-telephone"><i class="fa fa-mobile fa-2x" aria-hidden="true" style="color:red"></i></span></a>
     <h3 style="font-size:20px;left:17px;top:70px;position:absolute">8435999567</h3>
     </div>
     
     <div class="contact-det-r2">
     <a style="left:50px;top:10px;position:absolute"> <span class="flaticon-telephone"><i class="fa fa-map-marker fa-2x" aria-hidden="true" style="color:red"></i></span></a>
     <h3 style="font-size:20px;left:17px;top:70px;position:absolute">RAIPUR,CG</h3>
     </div>
     
     <div class="contact-det-r3">
     <a style="left:103px;top:25px;position:absolute"> <span class="flaticon-telephone"><i class="fa fa-envelope-o fa-lg" aria-hidden="true" style="color:red"></i></span></a>
     <h3 style="font-size:20px;top:70px;left:3px;position:absolute">harmeet@ksitsolution.com</h3>
     </div>
     
     </div>
 
    <div class="contact-form1">
    <form action="/form-submit" method="post">
  <div class="form-group">
    <label for="name">First Name<span style="font-size:18px;color:black">*</span></label>
    <input type="text" class="form-control" id="name" style="background-color: rgb(245, 248, 250)" name="Firstname" required>
  </div>
  <div class="form-group">
    <label for="name">Last Name<span style="font-size:18px;color:black">*</span></label>
    <input type="text" class="form-control" id="name" style="background-color: rgb(245, 248, 250)" name="lastname" required>
  </div>
  <div class="form-group">
    <label for="name">Email<span style="font-size:18px;color:black">*</span></label>
    <input type="email" class="form-control" id="name" style="background-color: rgb(245, 248, 250)" name="email" required>
  </div>
  <div class="form-group">
    <label for="phone">Phone no</label>
    <input type="number" class="form-control" id="phone" style="background-color: rgb(245, 248, 250)" name="phone">
  </div>
  <div class="form-group">
    <label for="name">Company Name (Optional)</label>
    <input type="text" class="form-control" id="name" style="background-color: rgb(245, 248, 250)" name="companyname">
  </div>
  <div class="form-group">
    <label for="name">How can we help<span style="font-size:18px;color:black">*</span></label>
    <input type="text" class="form-control" id="name" style="background-color: rgb(245, 248, 250)" name="description" required>
  </div>
  
  <div class="checkbox">
    <label><input type="checkbox"> Remember me</label><span th:text="${msg}" th:style="${m1}" style="color:green;font-size:15px;margin-left:42px"></span> 
  </div> 
  <button type="submit" class="btn btn-primary" style="background-color:rgb( 231, -77, 10)">Submit</button>
    </form> 
    </div>
    
    </section>
    
    
    
    <!--end of contact page  -->
    
    <!--javascript  -->
    <script>
   $(function(){
    var scroll = $(document).scrollTop();
	   window.addEventListener('scroll',() => {
	  document.getElementById('nava11').style.backgroundColor = 'transparent' ;
	  document.getElementById('navg1').style.color = 'white';
	  document.getElementById('navg2').style.color = 'white';
	  document.getElementById('navg3').style.color = 'white';
	  document.getElementById('navg4').style.color = 'white';
	  document.getElementById('navg5').style.color = 'white';
	  document.getElementById('navg6').style.color = 'white';
	  $( "#nava11" ).removeClass( 'logo-images');
	  if($(document).scrollTop()){
		  document.getElementById('nava11').style.backgroundColor = 'white';
		  document.getElementById('nava11').style.backgroundImage = 'none';
		  document.getElementById('nava11').style.opacity = '0.96';
		  $( "#nava11" ).addClass( 'logo-images');
		  document.getElementById('navg1').style.color = 'black';
		  document.getElementById('navg2').style.color = 'black';
		  document.getElementById('navg3').style.color = 'black';
		  document.getElementById('navg4').style.color = 'black';
		 
		  document.getElementById('navg6').style.color = 'black';
	  }
  }) 
  
   })
   </script>
    <!-- end of javascript -->
    
    </div>
    
    <script src=".\javascript/particles.js"></script>
    <script src=".\javascript/app.js"></script>
   
    
 <script type="text/javascript" src="/javascript/base.js"></script>
 <script>
 AOS.init({
	  offset: 200,
	  duration: 800,
	  easing: 'ease-in-quad',
	  delay: 100,
	  once:true,
	  disable: 'mobile'
	});
</script>
 <script type="text/javascript">
  function callingRemove(){
  document.getElementById('navigation').style.position="relative";
  } 
  </script>
 
  <script type="text/javascript">
  function myFunction() {
	  document.getElementById('animates').style.margin="10px";
  }
  </script>
  </div>
      <!--Bottom tag containing contact and other details short summary of the company-->
    
    
    <div class="bottom-tag"> 
 
 <!--endcolumn of the page  -->
 <div class="col1">
 
 
 <!--company works1 (row1)  -->
 <div class="main-row1">
 <div class="row1" style="color:white">
 <h4 style="margin-bottom:14px;">Quick <span>LINKS</span></h4>
 <li class="sublink"><a href="/home" class="links">Home</a></li>
 <li class="sublink"><a href="/services" class="links">SERVICES</a></li>
 <li class="sublink"><a href="#" class="links">EXPERTISE</a></li>
 <li class="sublink"><a href="/about" class="links">ABOUT US</a></li>
 <li class="sublink"><a href="/contact" class="links">CONTACT US</a></li>
 </div>
 <!--closing row1  -->
 
 <!--company row4  -->
 <div class="row2" style="color:white">
 <h4 style="margin-bottom:14px;">OUR <span>SERVICES</span></h4>
 <li class="sublink"><a href="services/Website-Designing-Company-Raipur" class="links">Web Design</a></li>
 <li class="sublink"><a href="services/Website-Designing-Company-Raipur" class="links">Web Development</a></li>
 <li class="sublink"><a href="services/mobile-app-development" class="links">Android App Development</a></li>
 <li class="sublink"><a href="services/graphic-designing" class="links">Graphic Design</a></li>
 <li class="sublink"><a class="links">Digital Marketing</a></li>
 
 </div>
 </div>
 <!--main row1  -->
 <!--closing row4  -->
 
 <!--our company works2(row2)  -->
 <div class="main-row2">
 <div class="row3" style="color:white">
 <h4 style="margin-bottom:14px;">eCOMMERCE <span> PLATFORM</span></h4>
 <li class="sublink"><a href="services/E-commerce" class="links">e-COMMERCE WEBSITE </a></li>
 <li class="sublink"><a class="links">Payment gateway </a></li>
 <li class="sublink"><a class="links">Web-portal development</a></li>
 </div>
 <!--closing of row2  -->
 
 
 <!--Address and phone number of the company  -->
  <div class="row4" style="color:white">
 <h4 style="margin-bottom:14px;margin-left:-5px;height: 85px;width: 180px;"><span style="border-bottom:1px solid red ;color:red;font-weight:bold;font-size:35px">KS-IT</span> <img src="../images/globe-image-removebg-preview.png" style="width:65px;height:55px;position:relative;left:-5px;top:-2px;"><span style="letter-spacing:2.5px;position:relative;top:-9px;font-size:27px;color:red">SOLUTION</span></h4>
<blockquote class="paragraph1">
Add: 2/134c   opposite of   maharatra mandal   choubey colony, near RKC gate  ,  raipur chattisgarh ,  492001
 </blockquote>
 
<div class="phonemain"> 
<div class="phonesec"><span style="color:white"><i class="fas fa-mobile-alt"></i></span></div>
<li class="blinkno"><a style="color:white">Contact us:+91 8435999567 </a></li>
 </div>
 </div>
<!-- closing address tag (row3) -->

 </div>
 </div>
 <!--closing end column  -->
 
 <!--copyright reserved paragraph  -->
 <p class="text-center" style="color:white;margin-top:6px;font-size:13.3px; ">
 Copyright @ <a style="color:white">KS-ITSolution.</a> All rights Reserved.</p>
</div>
 
 <div class="bottom_seo_code" >
 website designing company in raipur | web development company in raipur | website design company in raipur | website designer in raipur | app development company in raipur | mobile app development company in raipur | mobile app developer in raipur | graphic designer in raipur,logo design, template design, poster design
</div>
 
<!--End of Bottomm tag  -->
  
  </body>
</html>