<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::.main-section})">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" >
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>Portfolio</title>
   </head>
   <body>
   <div class="main-section" style="height:140%; background-color:yellow;">
    <div style= background-image:url("") class="main-section">
    <div class="content-tag text-center">
    <h1 class="heading">Welcome to Ks-itsolution</h1>
    <button class="btn btn-primary btn-lg text-white">Get Started</button>
    </div>
    </div>
    </div>
  </body>
</html>