<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::.main-section-software})">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" >
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>App development company in raipur</title>
   </head>
   <body>
    
    
    <div class="main-section-software" >
    
   
 <div class="main-app-heading">
     <div class="main-app-smhead">
     <h2 style="font-size:34px">Software Development</h2>
     </div>
 </div>
 <!-- body section software -->
 
 <section class="soft-body-main">
 <div class="soft-main-im-con">
 <div class="soft-main-image">
 <img src="../images/website-design/software-development1.jpg" style="width:100%;height:300px">
 </div>
 <div class="soft-content1">
 <p style="color:grey">In addition to our Website design services and mobile expertise,<span style="color:black;font-size:16px;">KSITSOLUTION</span> also offers businesses custom software development. For optimum software design, clients collaborate with our software developer to apply ideas for cloud-based solutions and organize custom programs that run on Windows and Mac operating systems.</p>
 <p style="color:grey">Our software developers work with a wide range of technologies and tools to enable clients to pursue business objectives.We are the best software development company in raipur chattisgarh call us for any inquiry</p>
 <h3>Software Development Solutions</h3>
 <p>Software designs are developed for businesses to better serve their business goals. The process of software development includes building software applications around a defined set of requirements to better promote desktop and mobile applications.</p>
 <p>Due to the benefits of improving the software for businesses, software engineering experts understand the mechanics of computer science and assist web developers and businesses with a software development process that fulfills the clients objectives. As clients present more ideas to software programmers, development teams adapt software programs to be more compatible, functional, and efficient with the various devices and operating systems that exist.</p>
 <h3>Advantage of Software Development</h3>
 <li style="color:grey;font-size:19px;">1. Optimized business process</li>
 <p>Each organization has its own business model and in-house processes. It is very difficult for organizations to change their processes to suit a particular software package or application, however efficient and powerful it may be. Therefore, software needs to be designed and developed in a manner such that it can align with the business model and follow the organization’s unique in-house processes.</p>
  <li style="color:grey;font-size:19px;">2. Reliability</li>
 <p>The ability to upkeep and follow your business processes over time helps you to succeed eventually. Reliability is a major factor that defines success. Proper testing of your custom software ensures you have a reliable IT tool that can grow your business.</p>
  <li style="color:grey;font-size:19px">3. Growth</li>
 <p>Software development brings your business to new heights of integration. It allows your company to be accessible from almost anywhere via smartphone or computer.</p>
  <li style="color:grey;font-size:19px;">4. Scalability</li>
 <p>It helps to implement on-the-go marketing, promoting your products at any place and any time without additional expenses and extra time needed. It doesn’t matter where your customers are. They can access your ads anytime and from anywhere.</p>
  <li style="color:grey;font-size:19px;">5. Improve performace</li>
 <p>Improving the overall quality of your business</p>
 
 
 <h2 >Why choose us for Software Development?</h2>
 <div class="soft-content2">
 <p class="soft_content_parag1" >Development of reliable and worthwhile software can’t be fulfiled without inviting the knowledge, qualification, and experience of the software developers. We know this need and hired a veteran team of software developers, who can support the demand of abundant clients qualitatively. Being the most leading software development company in India, we use the latest and innovative tools and techniques to ensure a polished piece every time. We feel pleasure to say that we keep satisfying our customers by delivering the best software, which is executing flawlessly and catering the client’s expectations.
 <br> <a href="#" class="btn btn-primary btn-sm" onclick="openfunction()">Contact Us</a>
 </p>
 <img src="../images/website-design/software-2.gif" style="width:50%">
 
 
 </div>
 
 </div>
 </div>
 </section>
 
 <!--closing of body section  -->
   <!-- hidden contact  -->
      <div class="hidden-contact" id="hide11">
      <h3 style="text-align:center">Contact Us</h3><span style="top:-35px;left:410px;position:relative" onClick="closefunction()"><i class="fa fa-times" style="color:black" aria-hidden="true"></i></span>
     
     <div class="form-outline mb-4">
    <input type="text" id="form4Example1" class="form-control" placeholder="Enter Your Name" required />
   
  </div>

  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="email" id="form4Example2" class="form-control" placeholder="Enter Your Email" required/>
  </div>

  <!-- Message input -->
  <div class="form-outline mb-4">
    <textarea class="form-control" id="form4Example3" rows="4" placeholder="which type of software you want ?"></textarea>
  </div>

  <!-- Checkbox -->
  <div class="form-check d-flex justify-content-center mb-4">
    <input style="margin-left:-60px"
      class="form-check-input me-2"
      type="checkbox"
      value=""
      id="form4Example4"
      checked />
    <label class="form-check-label" style="margin-left:-275px" for="form4Example4">
    <p style="color:black;font-size:16px;font-weight:bold">Contact No: 8435999567</p>
    </label>
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-block mb-4" style="background-color:rgb( 231, -77, 10);color:white">Send</button>
     
      </div>
      <!--end of hidden contact  -->
    <script type="text/javascript">
    $(".nav-item").removeClass("active");
    $("#service-link").addClass("active");
     </script>
</div>
</body>