<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::.main-section-website})">
  	<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" >
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
   	<title>Eager to know how SEO works call me for the free advice 8435999567</title>
   	</head>
   	<body>
    <div class="main-section-website">
          
    <!-- main section started -->
     <!-- <section class="website-section"> -->
     <div class="main-app-heading">
     <div class="main-app-smhead">
     <h2 class="heading-main11">Website Designing in <span class="heading-main11" style="font-weight:500;color:black" th:text="${area}"></span></h2> 
     </div>
     </div>
     
     <div class="mobile-app-content">
      
     <div class="mobile-app-cont1">
     <div class="mobile-app-cont-flex">
     <img class="img-9988"  src="../images/website-design/web1image.jpg">
     <div class=" para-app1">
     <span class="head_1122" >Website Design Starts @3999/-</span>
     <p>At<span style="color:black;font-size:16px;">KSITSOLUTION</span> our plans starts from very low cost and no advance payment for website design, make the payment once you are satisfied with our services </p>
     <p style="color:green"><span><img class="img9988" src="../images/website-design/right-sign-removebg-preview.png" style="width:30px;height:30px"></span> 1 free domain <span> <img src="../images/website-design/right-sign-removebg-preview.png" style="width:30px;height:30px"></span>Annual renewal 1300/- <br>
     <span><img src="../images/website-design/right-sign-removebg-preview.png" style="width:30px;height:30px"></span>  Mobile Friendly website <span><img src="../images/website-design/right-sign-removebg-preview.png" style="width:30px;height:30px"></span>  Free Business Email<br>
     <span><img src="../images/website-design/right-sign-removebg-preview.png" style="width:30px;height:30px"></span>  24/7 Support (Phone/Email/Chat)<br>
     <span><img src="../images/website-design/right-sign-removebg-preview.png" style="width:30px;height:30px"></span>  No Hidden or Extra Charges<br>
     <span><img src="../images/website-design/right-sign-removebg-preview.png" style="width:30px;height:30px"></span>  SEO ready website<br></p>
     </div>
     </div>
     <div class="para-app2">
     <p>If you are looking for an experienced Web Design Company in <span style="color:rgb(138, 138, 135);font-family: ui-monospace;" th:text="${area}"></span> to shortlist for designing and developing your dream Website, then you are in the right place, We provide the best affordable and target-oriented solution. We are providing eCommerce web development services also all over Chattisgarh for 
     4 years and have more than 100+ clients and have provided web solutions to a dynamic range of businesses</p>
     <p><span style="color:black;font-size:17px;margin-left: -1px;">KSITSOLUTION is the best website designing company and development in <span style="color:black;font-size:17px;" th:text="${area}"></span> which focuses on  creating impact through the website.</span></p>
     <a href="website-design-and-development" class="btn btn-danger btn-sm">Read More</a>
     </div>
     
     </div>
     
     </div>
     <!--website development closed  -->
     
     <!-- eCommerceWebsite started-->
     <div class="ecom-section">
     <div class="ecom-smsection">
     <div class="heading-ecomerce">
     <h4 class="heading-ecom-section" >E-Commerce Website</h4>
     </div>
     <div class="ecom-flex-box">
     <div class="ecom-paragraph1">
     <h5  class="ecom-heading_1" >WE CAN DESIGN E-COMMERCE WEBSITES ALSO!</h5><br>
     <p style="text-align:justify">If you are thinking about launching your e-commerce website, then 
     you would be relieved after knowing that with our e-commerce website 
     designing solutions we tailor the best designs that are user-friendly 
     and due to which you can very easily boost your sales.
     </p><p>We are one of the best website designer and developers in <span style="color:rgb(74, 74, 70);font-family:Times New Roman" th:text="${area}"></span> </p>
     <a style="word-spacing:0px;" href="E-commerce" class="btn btn-danger btn-sm">Read More</a>
     </div>
     <div class="econ-coursel-main">
     <!-- bootstrap carousel started -->
     
     <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block " src="../images/website-design/website-carousel-1.png" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block " src="../images/website-design/website-carousel-2.png" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block " src="../images/website-design/website-carousel3.png" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  </div> 
     
     <!-- bootstrap carousel end  -->
     </div>
     </div>
     <!--ecommerce section end  -->
     </div>
     </div>
     <!-- eCommmerce Website closed  -->
     <!--last-section -->
     
     <section class="btm-sec-website-part">
     
     <div class="btm-section-main4">
     <div class="btm-left-main4">
     <h3>DISCOVER A NEW POSITION OF YOUR BRAND BY OUR WEB DESIGNING SERVICES</h3>
     <p class="mt-3">We know that the interactive design of your website is the basic need of your business. 
     It’s the part of our routine work to make the research and then 
     provide the custom designs for our clients so that they can very easily achieve their business objectives.</p>
     <a href="/contact" class="btn9988" onclick="openfunction()">Contact Us</a>
     </div>
     <div class="btm-right-main4">
     <img src="../images/website-design/website-image3.png" class="btm-section-image" >
     </div>
     </div>
     
     </section>
     
     <!--end of last section  -->

 <!-- Works complete section -->
 <div class="website-design-advant">
 <div class="background-layer"></div>
 <div class="wb-work-1">
 <div class="border-wb"></div>
 <div class="wr-ratings">145+</div>
 <div class="wr-cont">Projects Done</div>
 <div class="wr-circle"><span><i class="fa fa-users fa-2x pr-1" style="color:red"></i></span></div>
 </div>
 <div class="wb-work-2">
 <div class="border-wb"></div>
<div class="wr-ratings">155+</div>
<div class="wr-cont">Happy Clients</div>
<div class="wr-circle"><span><i class="fa fa-flask fa-2x pr-1" style="color:red"></i></span></div>
 </div>
 <div class="wb-work-3">
 <div class="border-wb"></div>
 <div class="wr-ratings">200+</div>
 <div class="wr-cont">Talented Peoples</div>
 <div class="wr-circle"><span><i class="fa fa-headphones fa-2x pr-1" style="color:red"></i></span></div>
 </div>
 
 </div>
 <!--works completed section closed  -->

     <!-- hidden contact  -->
      <div class="hidden-contact" id="hide11">
      <h3 style="text-align:center">Contact Us</h3><span style="top:-35px;left:410px;position:relative" onClick="closefunction()"><i class="fa fa-times" style="color:black" aria-hidden="true"></i></span>
     
     <div class="form-outline mb-4">
    <input type="text" id="form4Example1" class="form-control" placeholder="Enter Your Name" required />
   
  </div>

  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="email" id="form4Example2" class="form-control" placeholder="Enter Your Email" required/>
  </div>

  <!-- Message input -->
  <div class="form-outline mb-4">
    <textarea class="form-control" id="form4Example3" rows="4" placeholder="What's your requirement on website?"></textarea>
  </div>

  <!-- Checkbox -->
  <div class="form-check d-flex justify-content-center mb-4">
    <input style="margin-left:-60px"
      class="form-check-input me-2"
      type="checkbox"
      value=""
      id="form4Example4"
      checked />
    <label class="form-check-label" style="margin-left:-275px" for="form4Example4">
    <p style="color:black;font-size:16px;font-weight:bold">Contact No: 8435999567</p>
    </label>
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-block mb-4" style="background-color:rgb( 231, -77, 10);color:white">Send</button>
     
      </div>
      <!--end of hidden contact  -->
       <script type="text/javascript">
	    $(".nav-item").removeClass("active");
   		$("#service-link").addClass("active");
     </script>


  </div>
  </body>