<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::.main-section-websitedesign})">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" >
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>Eager to know how SEO works call me for the free advice 8435999567</title>
   </head>
   <body>
    <div class="main-section-websitedesign">
       <div class="web_site-design">
       <div class="web-design_heading1">Website Design & Development</div>
       <div class="web-design_paragraph"><p>Web designers help transform your brand into a visual story. We turn your website into an effective way to engage with your audience and a high-performing marketing tool for your business.</p></div>
       
       
       <div class="web1_design1"><div class="layer_black">
        <div class="web1_heading">Web Design</div>
        <div class="web1_para"><p>A website is a combination of both graphics and content and a web production requires a structured design layout. The entire graphical representation and written 
        content will become useless if structured frames and proper styling are not visible. It should represent base pixels, an important feature for visual display.<br> This is the reason why it is important to find a creative and reliable web designer 
        in Raipur who focuses more on providing solutions instead of adding confusion. Any website project can’t be initiated and defined without proper graphical designing or customized theme. Every design requires a web designer’s attention for proper delivery. Various tools are needed for web production, doer instance Adobe products 
        –  Corel draw, Photoshop, and many more.
<br>
We at KSITSOLUTION, one of the best website designing company in Raipur, make sure that client requirement gets fulfilled and get the customized solution as per their requirement. We listen to our clients, make new patterns as per the theme, create impressive layouts, and produce robust div structure-based HTML conversions.</p></div>
       </div>
       </div>
       <div class="web1_design1"><div class="layer_black">
        <div class="web1_heading">Web Development</div>
        <div class="web1_para"><p>Website development is the other name of web programming which require the involvement of technical programmers for coding and framing, working mostly on live website production. This is needed 
        to provide numerous usability and assured functionalities.<br> KSITSOLUTION, our web development company in Raipur always try to remain in the list of 
        most exceptional coders of the region. <br> The coders who can not only versed with the open-source scripts but equally efficient for custom coding for any JAVA/PHP web solution as per the requirement of the client.
<br>
Software Development methodologies: Our web developer in Raipur has a unique style of working when it comes to product development. We always try to follow from waterfall Methodology to agile at the time of the development life cycle.</p></div>
       </div>
       </div>
       </div>
       
   </div>
   </body>
</html>