<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::.main-section-choose})">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" >
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>Hacked</title>
   </head>
   <body>
    <div class="main-section-choose" >
    <!-- background-section about -->
   
   <div class="whychoose-top-background">
   <div class="layer-about11"></div>
   <div class="about-heading-content1">
   <h1 class="mb-4 text-center heading_121">Why Choose Us?</h1>
   <p class="text-center" style="font-size:19px;word-spacing:2" id="autotype1">With our unparalleled technical experts we are sure we can deliver best for you.</p>
   </div>
   </div>
   
   <!-- end of background-section about -->
    <div class="why-choose-box">
    <div class="why-chos-b-content">
     <div class="why-col">
     <div class="why-rw1">
     <span class="span_wh"><i class="las la-user-tie fa-2x"></i></span>
     <h3 class="mt-3 whychoose_head">Online Support 24/7</h3>
     <p class="mt-3 whychoose_para" style="text-align:center">Our online support 24/7 on Mobile, Land-line, E-mail, Skype, WhatsApp, online live chat through website and fully support facilities to our new and prestige's old clients.</p>
     </div>
     <div class="why-rw2">
     <span class="span_wh"><i class="las la-users-cog fa-2x"></i></span>
     <h3 class="mt-3 whychoose_head">Customer Handling</h3>
     <p class="mt-3 whychoose_para" style="text-align:center">Fully guidance for handling website upgrading & mastering to our customers.</p>
     </div>
     </div>
     <div class="why-col1">
     <div class="why-rw3">
     <span class="span_wh"><i class="las la-truck fa-2x"></i></span>
     <h3 class="mt-2 whychoose_head">Deliver With Perfection</h3>
     <p class="mt-2 whychoose_para" style="text-align:center">Our team of expert designers, developers & digital marketers work together to deliver stunning projects for your business..</p>
     </div>
     <div class="why-rw4">
     <span class="span_wh"><i class="las la-chart-line fa-2x"></i></span>
     <h3 class="mt-2 whychoose_head">Upgraded Technologies</h3>
     <p class="mt-2 whychoose_para" style="text-align:center">We regularly provide training to our team for new technologies in the domain so we work and deliver with perfection.</p>
     </div>
     </div>
    </div>
    </div>
    
    <!-- how we different from other website developers -->
    <div class="whychoose_bottom">
    <div class="whychoose_btm-content">
      <h1 class="m-2 mb-3">How are we different from other IT companies in Raipur?</h1>
      <p style="font-size:18px"> We more focus on solution instead of just making website our target is to build up a website that will generate lead to your business growth. Our main target is to give our 100% to grow your business globally. 
      <div class="whychoose_cont1">
      <div class="whychoose_right-cont">
      <img src="../images/why-choose/3515462.jpg" style="height:auto;width:250px;">
      </div>
      <div class="whychoose_left-cont">
      <h2 class="whychoose_head11" >How we do that?</h2>
      <p class="para_whychoose"> * By Analysing your market needs what customers are searching online</p>
      <p class="para_whychoose"> * Finding the right keywords for your business</p>
      <p class="para_whychoose"> * Selecting some of those common words and building your Website</p>
      <p class="para_whychoose"> * Working on SEO next</p><br>
      </div>
    </div>
      <span class="whychoose_seo_para">"Search engine marketing and search engine optimization are critically important to online businesses. You can spend every penny you have on a website, but it will all be for nothing if nobody knows your site is there."</span>
    </div>
    <!-- end of  -->
    
     </div>
      <script type="text/javascript">
    $(".nav-item").removeClass("active");
    $("#whychoose-link").addClass("active");
     </script>
     </div>
     </body>
     </html>